<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>
    <nav th:replace="common/navbar :: common-navbar" />
    <main role="main">
        <div class="container">
            <div class="row" th:if="${signedUp != null}">
                <div class="col-md-6 offset-md-3">
                    <div class="alert alert-success alert-dismissible fade show rounded bg-gradient" role="alert" th:if="${signedUp == 'true'}">
                        <span th:text="#{signup.profile.create.success}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show rounded bg-gradient" role="alert" th:if="${signedUp == 'false'}">
                        <span th:text="${message}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card rounded-3">
                        <div class="card-body">
                            <h2 class="text-center card-title" th:if="${#httpServletRequest.getParameter('planId') == '1'}" th:text="#{signup.basic.h2.text}"></h2>
                            <h2 class="text-center card-title" th:if="${#httpServletRequest.getParameter('planId') == '2'}" th:text="#{signup.pro.h2.text}"></h2>
                            <h6 class="text-center card-subtitle" th:text="#{signup.subtitle.h6.text}"></h6>
                            <br>
                            <form id="signupForm" role="form" method="POST" enctype="multipart/form-data" th:action="@{/signup}"
                                th:object="${payload}">
                                <!--th:object="${__${T(in.devopsbuddy.web.controller.SignUpController).ATTRIBUTE_NAME_PAYLOAD}__}"-->
                                <div th:if="${param.containsKey('planId')}">
                                    <input type="hidden" name="planId" th:value="${#httpServletRequest.getParameter('planId')}">
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <input type="text" id="username" class="form-control" placeholder="Username" name="username" th:field="*{username}">
                                    <label for="username" th:text="#{login.username.label}"></label>
                                    <div th:if="${usernameExists}" class="invalid-tooltip" th:text="#{signup.form.error.username-exists}"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" id="email" class="form-control" placeholder="Email" name="email" th:field="*{email}">
                                    <label for="email" th:text="#{forgot-password.email.label}"></label>
                                    <div th:if="${emailExists}" class="invalid-tooltip" th:text="#{signup.form.error.email-exists}"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" id="password" class="form-control" placeholder="Password" name="password" th:field="*{password}">
                                    <label for="password" th:text="#{login.password.label}"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword" th:field="*{confirmPassword}">
                                    <label for="confirmPassword" th:text="#{signup.confirm-password.label}"></label>
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <input type="text" id="firstName" class="form-control" placeholder="First Name" name="firstName" th:field="*{firstName}">
                                    <label for="firstName" th:text="#{signup.firstName.label}"></label>
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <input type="text" id="lastName" class="form-control" placeholder="Last Name" name="lastName" th:field="*{lastName}">
                                    <label for="lastName" th:text="#{signup.lastName.label}"></label>
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <textarea type="text" id="description" class="form-control" placeholder="Description" name="description" th:field="*{description}" style="height: 100px"></textarea>
                                    <label for="Description" th:text="#{signup.description.label}"></label>
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <input type="text" id="phoneNumber" class="form-control" placeholder="Phone Number" name="phoneNumber" th:field="*{phoneNumber}">
                                    <label for="phoneNumber" th:text="#{signup.phoneNumber.label}"></label>
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <select type="text" id="country" class="form-select" placeholder="Country" name="country" th:field="*{country}">
                                        <option value="IN">India</option>
                                    </select>
                                    <label for="country" th:text="#{signup.country.label}"></label>
                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-primary" type="submit" th:text="#{signup.submit.text}">Button</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="common/header :: before-body-scripts" />
</body>

</html>