<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>
    <nav th:replace="common/navbar :: common-navbar" />
    <main role="main">
        <div class="container" style="padding: 40px 15px;">
            <div class="card rounded p-5 shadow-sm">
                <h2 class="h2 text-center" th:text="#{index.main.callout}">Starter Template</h2>
            </div>
        </div>
    </main>
    <div th:replace="common/header :: before-body-scripts" />
</body>

</html>